# Code Owners <https://git.io/vFXjf>
# ==================================
# This will automatically request the following users to review
# pull requests made on this repository.

*       @dosomething/team-rocket